body{
	background-color: #63d4df;
}

#court_big{
	width: 50%;
	aspect-ratio: 1.5 / 1;
	position: absolute;
	top: 10%;
	left: 15%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.court{
	width: calc(50% - 6px);
	aspect-ratio: 1 / 1;
	background-color: #f7803c;
	position: relative;
	border: 4px white solid;
}
#left_side_court{
	float: left;
	border-right: 2px white solid;
}
#right_side_court{
	float: right;
	border-left: 2px white solid;
}

.three_meter{
	background-color: #f7b38e;
	width: calc(100%/3);
	aspect-ratio: 1 / 3;
}
#three_meter_left{
	float: right;
	border-left: 4px white solid;
}
#three_meter_right{
	border-right: 4px white solid;
}

.line_lengthened{
	width: calc(100%/3);
	aspect-ratio: 1 / 0.5;
	background-color: none;
	position: absolute;
}
#line_lengthened_top_left{
	top: calc(-100%/3/2);
	left: calc(100%/3 - 4px);
	border-right: white dashed 4px;
}
#line_lengthened_top_right{
	top: calc(-100%/3/2);
	border-right: white dashed 4px;
}
#line_lengthened_bottom_left{
	bottom: calc(-100%/3/2);
	left: calc(100%/3 - 4px);
	border-right: white dashed 4px;
}
#line_lengthened_bottom_right{
	border-right: white dashed 4px;
}

#keksz{
	height: 100%;
	width: 22%;
	float: right;
	background-color: grey;
}

button{
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(60, 60, 60);
	color: 	white;
	padding: 5px;
	cursor: pointer;
	font-size: auto;
	transform: translate(-50%, -50%);
}
#team_manager{
	position: relative;
	top: 95%;
	left: calc(0% + 45px);
}
